<!-- FOOTER -->
<footer class="site-footer bg-light text-center py-4 mt-5">
    <div class="container">
        <!-- Social icons -->
        <div class="mb-3">
            <a href="https://orcid.org/0009-0005-7673-5921" target="_blank" class="mx-2 text-dark" title="ORCID">
                <i class="fab fa-orcid fa-2x"></i>
            </a>
            <a href="https://www.researchgate.net/profile/David-Sobrin-Hidalgo" target="_blank" class="mx-2 text-dark"
                title="Research Gate">
                <i class="fab fa-researchgate fa-2x"></i>
            </a>
            <a href="https://scholar.google.es/citations?user=u1ajtykAAAAJ&hl=es" target="_blank" class="mx-2 text-dark"
                title="Google Scholar">
                <i class="fab fa-google fa-2x"></i>
            </a>
            <a href="https://www.linkedin.com/in/david-sobr%C3%ADn-hidalgo-971671155/" target="_blank"
                class="mx-2 text-dark" title="LinkedIn">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="https://github.com/Dsobh" target="_blank" class="mx-2 text-dark" title="GitHub">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </div>

        <!-- Copyright -->
        <div class="text-muted small">
            © 2025 David Sobrín Hidalgo. Todos los derechos reservados.
        </div>
    </div>
</footer>