<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top py-3">
    <div class="container-fluid">

        <!-- Brand -->


        <!-- Botón hamburguesa -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links que colapsan -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="navbar-item">
                    <a class="navbar-brand" href="/"><i class="fas fa-home"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/research/">Investigación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books/">Novelas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/software/">Software</a>
                </li>
            </ul>
        </div>

    </div>
</nav>